@import '../css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}


ul,
ol {
    margin: 0;
}

ol li,
ul li {
    list-style: outside none none;
}

img {
    height: auto;
    max-width: 100%;
}



.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

	.single_catagory_area {
    padding: 150px 50px;
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
}

.footer_area {
    background-color: #fff;
    border-top: 2px solid #e5e5e5;
    padding: 100px 0 50px;
}

.footer_content > p {
    font-size: 14px;
}

.subscribtion_form {
    position: relative;
    z-index: 1;
}

.subscribtion_form .mail {
    border: none;
    border-radius: 0;
    font-size: 12px;
    height: 50px;
    padding: 5px 15px;
    width: 100%;
    background-color: #f0eded;
    color: #929191;
    font-style: italic;
}

.subscribtion_form .submit {
    background-color: #3a3a3a;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0 30px;
    font-weight: 700;
}

.btn-primary{
margin-bottom:10px;
}